@page
@model CaffWeb.Pages.Admin.ManageUsersModel
@{
    ViewBag.Title = "Admin";
}

<p>
    Kijelentkezés és újra bejelentkezés után lesz csak érvényes.
</p>

@foreach (var user in Model.AllUsers) {
    <form method="post" role="form">
        <input type="hidden" asp-for="EditedId" value="@user.Id" />
        <div class="row">
            <div class="form-row">
                <div class="form-group col-1">
                    <input disabled class="form-control text-center py-0" asp-for="@user.Id" />
                </div>
                <div class="form-group col-3">
                    <input disabled class="form-control one-row" asp-for="@user.Name" />
                </div>
                <div class="form-group col-3">
                    <input disabled class="form-control one-row" asp-for="@user.Email" />
                </div>
                <div class="form-group col-2">
                    <input disabled class="form-control one-row" asp-for="@user.Roles" />
                </div>
                <div class="form-group">
                    <button asp-page-handler="Promote" class="btn btn-outline-danger" type="submit">Promote</button>
                </div>
                <div class="form-group">
                    <button asp-page-handler="Delete" class="btn btn-outline-danger" type="submit">Delete</button>
                </div>
            </div>
        </div>
    </form>
}

